[submodule "symlinks/.config/nvim"]
	path = symlinks/.config/nvim
	url = ../nyoom.nvim
	ignore = all
[submodule "symlinks/.config/emacs"]
	path = symlinks/.config/emacs
	url = ../evil-emacs-kickstart
	ignore = all
[submodule "symlinks/.config/kak"]
	path = symlinks/.config/kak
	url = ../kak-sensible
	branch = my-kakrc
	ignore = all
[submodule "symlinks/.config/tmux/tmux-pain-control"]
	path = symlinks/.config/tmux/tmux-pain-control
	url = ../../tmux-plugins/tmux-pain-control
[submodule "symlinks/.config/tmux/tmux-jump"]
	path = symlinks/.config/tmux/tmux-jump
	url = ../../schasse/tmux-jump
[submodule "symlinks/.config/zsh/vi-increment"]
	path = symlinks/.config/zsh/vi-increment
	url = ../../zsh-vi-more/vi-increment
